<div class="container w-50 text-center my-3 white">
    <h1 class="display-1">
        Welcome {{name}}!</h1>
    <p class="lead display-6 my-4">MyWallet is an app that makes your life easier. Plan and keep an eye on your budget, write notes and you won't be surprised the next time you check your wallet.</p>
    <p class="my-2">In order to save your time, you will be able to see your separate accounts at one place, write notes about them and change the balance. You will be able to create new accounts or delete existing ones.</p>
</div>