<div class="container">
    <h2 class="text-center my-4 white display-2">Your balance change history</h2>
    <div class="table-responsive">
        <table class="table table-light shadow p-3 mb-5 bg-body rounded">
            <thead>
                <tr>
                    <th class="col-2">Account ID</th>
                    <th class="col-2">Change</th>
                    <th class="col-2">Category</th>
                    <th class="col-2">Description</th>
                    <th class="col-2">Date</th>
                </tr>
            </thead>
            <tbody>
                <tr app-unit [unit]="unit" *ngFor="let unit of history$| async">
                </tr>
            </tbody>
        </table>
    </div>
</div>